* {
    padding: 0;
    margin: 0;
}
body::-webkit-scrollbar{
    display: none;
}
/* 地图容器 */
.container {
    width: 100%;
    height: 200px;
}

/* 搜索店家模块开始 */
.search{
    position: fixed;
    width: 95%;
    height: 2.2rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10001;
    top: .5rem;
    background-color: #fff;
    border-radius: .3rem;
    box-shadow: .1rem .1rem #e2e2e2;
}

.search input{
    width: 87%;
    height: 100%;
    border: none;
    outline: none;
}

.search .icon{
    display: inline-block;
    width: 7%;
}

.search .icon-sousuo{
    position: absolute;
    left: .5rem;
    top: 50%;
    transform: translateY(-50%);
}

.search span{
    display: none;
    font-size: 1rem;
    position: absolute;
    left: .5rem;
    top: 50%;
    transform: translateY(-54%);
}
/* 搜索主体部分 */
.search_part{
    background-color: #f2f2f2;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
    display: none;
    overflow: scroll;
}

.search_part::-webkit-scrollbar{
    display: none;
}

.main_search{
    width: 92%;
    position: absolute;
    top: 8%;
    left:50%;
    transform: translateX(-50%);
}


.main_search .hot_search {
    width: 100%;
    height: 100%;
}

.main_search .hot_search .hot_title {
    width: 100%;
    height: 1.3rem;
    font-size: .7rem;
}

.main_search .hot_search .hot_contant {
    margin: .3rem 0;
    height: 1rem;
    width: 100%;
}

.main_search .hot_search .hot_contant span {
    width: auto;
    margin-right: .4rem;
    height: 1.5rem;
    border: 1px solid #e6e6e6;
    border-radius: .06rem;
    float: left;
    font-size: .9rem;
    text-align: center;
    line-height: 1.5rem;
    color: #858585;
}

.his_search .his_title {
    width: 100%;
    height: .3rem;
    font-size: .7rem;
    margin-top: 1rem;

}

.his_search .his_title .his_left {
    float: left;
    font-size: .7rem;
    height: 100%;
}

.his_search .his_title .his_right {
    float: right;
    height: 100%;
}

.his_search .his_list li {
    list-style: none;
    font-size: .8rem;
    height: 1rem;
    margin: 1.2rem 0 0 0;
    border: 1px solid #e6e6e6;
    line-height: 1rem;
    color: #858585;
}
/* 搜索店家模块结束 */

/* 模糊搜索部分开始 */
.fuzzy_search{
    background-color: #f2f2f2;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
    display: none;
    overflow: scroll;
}

.fuzzy_search::-webkit-scrollbar{
    display: none;
}

.fuzzy_search .no_result{
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.fuzzy_search ul{
    width: 92%;
    margin: 3.5rem auto;
    list-style: none;
    height: auto;
}

.fuzzy_search ul .search_result p:nth-child(1){
    font-size: .8rem;
    color: #666666;
    padding-bottom: .5rem;
}
.fuzzy_search ul .search_result p:nth-child(2){
    font-size: .7rem;
    color: #AAAAAA;
    padding-bottom: .5rem;
}
/* 模糊搜索部分结束 */

/* 楼层切换模块开始 */
.floorContainer{
    position: absolute;
    list-style-type: none;
    width: 3rem;
    height: 3.5rem;
    overflow: hidden;
    z-index: 1;
    left: 2.5rem;
    bottom: 2.5rem;

}

.floorContainer::-webkit-scrollbar{
    display: none;
}

.floorToggleUl{
    position: absolute;
    width: 3rem;
    height: 46rem;
}

.floorToggleUl_open{
    height: 17.5rem;
    overflow: scroll;
    transition: height 0.5s;
    -moz-transition: height 0.5s; /* Firefox 4 */
    -webkit-transition: height 0.5s; /* Safari 和 Chrome */
    -o-transition: height 0.5s; /* Opera */
}  

.floorToggleUl_close{
    height: 3.5rem;
    overflow: hidden;
    transition: height 0.5s ,overflow 0.5s;
    -moz-transition: height 0.5s ,overflow 0.5s; /* Firefox 4 */
    -webkit-transition: height 0.5s ,overflow 0.5s; /* Safari 和 Chrome */
    -o-transition: height 0.5s ,overflow 0.5s; /* Opera */
}

.btn {
    margin-top: .5rem;
    margin-bottom: .5rem;
    font-family: 'MicrosoftYaHei';
    font-size: 1rem;
    text-align: center;
    line-height: 3rem;
    width: 3rem;
    height: 3rem;
    color: #858585;
    background-color: #f8f8f8;
    background-size: contain;
    border-radius: .5rem;
    display: block;
    cursor: pointer;
}

.btn_show{
    position: absolute;
    margin-top: .5rem;
    margin-bottom: .5rem;
    font-family: 'MicrosoftYaHei';
    font-size: 1rem;
    text-align: center;
    line-height: 3rem;
    width: 3rem;
    height: 3rem;
    color: #858585;
    background-color: #e1e87d;
    background-size: contain;
    border-radius: .5rem;
    cursor: pointer;
    display: none;
    z-index: 1;
    left: 2.5rem;
    bottom: 2rem;
}

.btn_active{
    background-color: #e1e87d;
}
/* 楼层切换模块结束 */

/* 设置起点模块开始 */
.setStart{
    position: absolute;
    width: 16rem;
    height: 8rem;
    background-color: rgba(255, 255, 255,.7);
    z-index: 5;
    left:50%;
    bottom: 50%;
    transform:translate(-50%,-50%);
    border-radius: 1rem;
    display: none;
}

.setStart p{
    width: 100%;
    height: 3rem;
    text-align: center;
    margin-top: 2rem;
}

.setStart span{
    display: inline-block;
    width: 4rem;
    height: 2.5rem;
    margin-left:2.6rem;
    line-height: 2.5rem;
    text-align: center;
    background-color: rgba(200,200,200,.7);
    cursor: pointer;
    border-radius: .5rem;
}
/* 设置起点模块结束 */

/* 设置终点模块开始 */
.setEnd{
    position: absolute;
    width: 16rem;
    height: 8rem;
    background-color: rgba(255, 255, 255,.7);
    z-index: 2;
    left:50%;
    bottom: 50%;
    transform:translate(-50%,-50%);
    display: none;
}

.setEnd p{
    width: 100%;
    height: 3rem;
    text-align: center;
    margin-top: 2rem;
}

.setEnd span{
    display: inline-block;
    width: 4rem;
    height: 2.5rem;
    margin-left:2.6rem;
    line-height: 2.5rem;
    text-align: center;
    background-color: rgba(200,200,200,.7);
    cursor: pointer;
    border-radius: .5rem;
}
/* 设置终点模块结束 */

/* 取消寻路模块 */
.cancelSearch{
    z-index: 2;
    width: 4rem;
    height: 2.5rem;
    position: absolute;
    bottom: 8rem;
    left: 2rem;
    background-color: rgba(255, 255, 255, .7);
    text-align: center;
    line-height: 2.5rem;
    font-size: .8rem;
    border-radius: .8rem;
    cursor: pointer;
    display: none;
}

/* 显示起点终点模块开始 */
.showStartEnd{
    width: 100%;
    height: 4.8rem;
    background-color:rgba(255, 255,255,.9);
    position: fixed;
    top: 0;
    display: none;
}
.showStartEnd div{
    width: 80%;
    height: 2rem;
    margin: .5rem auto;
}

.showStartEnd div span{
    display: inline-block;
    width: 80%;
    height: 1.5rem;
    border: 1px solid #777777;
    vertical-align: middle;
    text-align: center;
}

/* 显示起点终点模块后退功能 */
.back{
   position: absolute;
   left: .5rem;
   top: .4rem;
   font-size: 1.2rem;
   cursor: pointer;
}

/* 显示起点终点模块调转功能 */
.reverse{
    position: absolute;
    right: 1rem;
    top: 1.6rem;
    font-size: 1.2rem;
    cursor: pointer;
}
/* 显示起点终点模块结束 */

/* 3D切换开始 */
.map_three{
    display: inline-block;
    position: absolute;
    z-index: 20;
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    line-height: 2.5rem;
    border-radius: 50%;
    background-color: #777777;
    color: #f2f2f2;
    right: 2%;
    top: 20%;
    cursor: pointer;
}

/* 3D切换结束 */

/* 放大缩小地图模块开始 */
.biger{
    display: inline-block;
    position: absolute;
    z-index: 20;
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    line-height: 2.5rem;
    border-radius: 50%;
    background-color: #f2f2f2;
    color: #777777;
    right: 2%;
    bottom: 10%;
    cursor: pointer;
}

.smaller{
    display: inline-block;
    position: absolute;
    z-index: 20;
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    line-height: 2.5rem;
    border-radius: 50%;
    background-color: #f2f2f2;
    color: #777777;
    right: 2%;
    bottom: 3%;
    cursor: pointer;
}
/* 放大缩小地图模块结束 */


