* {
    padding: 0;
    margin: 0;
}

.container {
    width: 100%;
    height: 200px;
}

.floorContainer{
    position: absolute;
    list-style-type: none;
    width: 3rem;
    height: 3.5rem;
    overflow: hidden;
    z-index: 1;
    left: 2.5rem;
    bottom: 2.5rem;

}

.floorContainer::-webkit-scrollbar{
    display: none;
}

.floorToggleUl{
    position: absolute;
    width: 3rem;
    height: 46rem;
}

.floorToggleUl_open{
    height: 17.5rem;
    overflow: scroll;
    transition: height 0.5s;
    -moz-transition: height 0.5s; /* Firefox 4 */
    -webkit-transition: height 0.5s; /* Safari 和 Chrome */
    -o-transition: height 0.5s; /* Opera */
}  

.floorToggleUl_close{
    height: 3.5rem;
    overflow: hidden;
    transition: height 0.5s ,overflow 0.5s;
    -moz-transition: height 0.5s ,overflow 0.5s; /* Firefox 4 */
    -webkit-transition: height 0.5s ,overflow 0.5s; /* Safari 和 Chrome */
    -o-transition: height 0.5s ,overflow 0.5s; /* Opera */
}


.btn {
    margin-top: .5rem;
    margin-bottom: .5rem;
    font-family: 'MicrosoftYaHei';
    font-size: 1rem;
    text-align: center;
    line-height: 3rem;
    width: 3rem;
    height: 3rem;
    color: #858585;
    background-color: #f8f8f8;
    background-size: contain;
    border-radius: .5rem;
    display: block;
    cursor: pointer;
}

.btn_show{
    position: absolute;
    margin-top: .5rem;
    margin-bottom: .5rem;
    font-family: 'MicrosoftYaHei';
    font-size: 1rem;
    text-align: center;
    line-height: 3rem;
    width: 3rem;
    height: 3rem;
    color: #858585;
    background-color: #e1e87d;
    background-size: contain;
    border-radius: .5rem;
    cursor: pointer;
    display: none;
    z-index: 1;
    left: 2.5rem;
    bottom: 2rem;
}


.btn_active{
    background-color: #e1e87d;
}

.setStart{
    position: absolute;
    width: 16rem;
    height: 8rem;
    background-color: rgba(255, 255, 255,.7);
    z-index: 5;
    left:3.5rem;
    bottom: 18rem;
    border-radius: 1rem;
    display: none;
}

.setStart p{
    width: 100%;
    height: 3rem;
    text-align: center;
    margin-top: 2rem;
}

.setStart span{
    display: inline-block;
    width: 4rem;
    height: 2.5rem;
    margin-left:2.6rem;
    line-height: 2.5rem;
    text-align: center;
    background-color: rgba(200,200,200,.7);
    cursor: pointer;
    border-radius: .5rem;
}

.setEnd{
    position: absolute;
    width: 16rem;
    height: 8rem;
    background-color: rgba(255, 255, 255,.7);
    z-index: 2;
    left:3.5rem;
    bottom: 18rem;
    display: none;
}

.setEnd p{
    width: 100%;
    height: 3rem;
    text-align: center;
    margin-top: 2rem;
}

.setEnd span{
    display: inline-block;
    width: 4rem;
    height: 2.5rem;
    margin-left:2.6rem;
    line-height: 2.5rem;
    text-align: center;
    background-color: rgba(200,200,200,.7);
    cursor: pointer;
    border-radius: .5rem;
}

.cancelSearch{
    z-index: 2;
    width: 4rem;
    height: 2.5rem;
    position: absolute;
    bottom: 8rem;
    left: 2rem;
    background-color: rgba(255, 255, 255, .7);
    text-align: center;
    line-height: 2.5rem;
    font-size: .8rem;
    border-radius: .8rem;
    cursor: pointer;
    display: none;
}

.showStartEnd{
    width: 100%;
    height: 4.8rem;
    background-color:rgba(255, 255,255,.9);
    position: fixed;
    top: 0;
    display: none;
}
.showStartEnd div{
    width: 80%;
    height: 2rem;
    margin: .5rem auto;
}

.showStartEnd div span{
    display: inline-block;
    width: 80%;
    height: 1.5rem;
    border: 1px solid #777777;
    vertical-align: middle;
    text-align: center;
}
.back{
   position: absolute;
   left: .5rem;
   top: .4rem;
   font-size: 1.2rem;
   cursor: pointer;
}

.reverse{
    position: absolute;
    right: 1rem;
    top: 1.6rem;
    font-size: 1.2rem;
    cursor: pointer;
}
